@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("./cream.ttf");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #443f3f;
}

h1 {
  font-family: "cream", sans-serif;
  color: #ef5757;
}

a {
  color: #ef5757;
}

body center.main-page {
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.nav a {
  color: #ef5757;
  margin: 0 1em;
  text-decoration: underline;
}

.nav a:hover {
  text-decoration: dotted #ed4545;
}

footer {
  height: 15%;
  background-color: #e4e4e4;
  margin-top: 1%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 15px;
}

.newsletter input {
  padding: 1em;
  border: 1px solid #e3e0e0;
  width: 200px;
}

.newsletter button {
  padding: 1em;
  background-color: #ef5757;
  border: 1px solid #d1423d;
  color: white;
  width: 200px;
}

.newsletter button:hover {
  cursor: pointer;
  background-color: #ed4545;
}

.newsletter .fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}

#alex {
  width: 50%;
}

.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#office {
  width: 45%;
  margin-bottom: 16px;
}

#logo {
  margin-top: 16px;
  width: 150px;
}

#headshot {
  width: 250px;
  border-radius: 25px;
  margin-right: 1em;
}

.container {
  max-width: 992px;
  margin: 0 200px;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.text {
  max-width: 800px;
}

article p {
  margin-bottom: 16px;
}

.ceo {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

small {
  color: #777676;
}

center a {
  text-decoration: none;
}

#signature {
  width: 50%;
}

.group {
  margin-top: 1em;
  text-align: left;
  max-width: 992px;
  padding: 1em;
}
.group h1 {
  border-bottom: 1px solid #e3e0e0;
}

.group h2 {
  display: flex;
  align-items: center;
}

.group h2 a {
  color: #443f3f;
}

.group h2 a:hover {
  text-decoration: underline #ed4545;
  text-underline-offset: 5px;
}

.group ul {
  list-style-type: none;
  padding: 1em 0;
}

.group ul li {
  margin-bottom: 1em;
}

.group h2 img {
  width: 30px;
  margin-right: 0.5rem
}

.group h2 small {
  font-size: 1rem;
}