@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("./cream.ttf");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #443f3f;
}

h1 {
  font-family: "cream", sans-serif;
  color: #ef5757;
}

a {
  color: #ef5757;
}

body center.main-page {
  height: 100vh;
}

footer {
  height: 15%;
  background-color: #ef5757;
  margin-top: 1%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 15px;
}

.newsletter input {
  padding: 1em;
  border: 1px solid #e3e0e0;
  width: 200px;
}

.newsletter button {
  padding: 1em;
  background-color: #ef5757;
  border: 1px solid #d1423d;
  color: white;
  width: 200px;
}

.newsletter button:hover {
  cursor: pointer;
  background-color: #ed4545;
}

.newsletter .fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}

#alex {
  width: 50%;
}

.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#office {
  width: 45%;
  margin-bottom: 16px;
}

#logo {
  margin-top: 16px;
  width: 150px;
}

#headshot {
  width: 50%;
  border-radius: 25px;
  margin-right: 1em;
}

.container {
  margin: 0 200px;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text {
  max-width: 800px;
}

article p {
  margin-bottom: 16px;
}

.ceo {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

small {
  color: #777676;
}

center a {
  text-decoration: none;
}

#signature {
  width: 50%;
}
